body{
    color: aliceblue;
    background-color: green;
    margin:8em;
}
h1{
    font-family: "Pixelify Sans", serif;
    font-size: 5em; 
    font-weight: bold;
    text-align: center;
}
h2,h3{
    font-family: sans-serif;
    font-size: 2em;
    color: rgb(177, 255, 229);
}
p,ol{
    font-family: "Kosugi Maru", serif;
    font-size: 1.2em;
    line-height: 1.2em;
}

